<li id="order-<%= pizza.id %>">
  <span class="content">
    Pizza Type:<%= pizza.pizza_type %>
  </span>
  <span class="content">
    Pizza Size:<%= pizza.pizza_size %>
  </span>
  <span class="content">
    Pizza Toppings:<%= pizza.toppings %>
  </span>
  <span class="content">
    Pizza Crust:<%= pizza.crust %>
  </span>
  <span class="content">
    Pizza Price:<%= pizza.total_price %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(pizza.created_at) %> ago.
  </span>
</li>