<li id="order-<%= pizza.id %>">
  <span class="content">
    <strong>Pizza Type: </strong><%= pizza.pizza_type %>
  </span>
  <span class="content">
    <strong>Pizza Size: </strong><%= pizza.pizza_size %>
  </span>
  <span class="content">
    <strong>Pizza Toppings: </strong>:<%= pizza.toppings %>
  </span>
  <span class="content">
    <strong>Pizza Crust: </strong><%= pizza.crust %>
  </span>
  <span class="content">
    <strong>Pizza Price: </strong><%= pizza.total_price %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(pizza.created_at) %> ago.
  </span>
</li>