<li id="order-<%= pizza.id %>">
  <span class="content">
    Pizza Order:<%= pizza.order.id %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(pizza.created_at) %> ago.
  </span>
  <span class="order"><%= link_to 'Show Pizza', order_pizza_path(pizza.order.id, pizza.id) %></span> |
  <span class="order"><%= link_to 'Edit Pizza', order_pizza_path(pizza.order.id, pizza.id) %></span> |
  <span class="order"><%= link_to 'Destroy Pizza', order_pizza_path(pizza.order.id, pizza.id) %></span>
</li>