<li id="order-<%= user.id %>">
  <span class="content">
    <strong>User ID: </strong><%= user.id %>
  </span>
  <span class="content">
    <strong>User Name: </strong><%= user.name %>
  </span>
  <span class="content">
    <strong>User Email: </strong><%= user.email %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(user.created_at) %> ago.
  </span>
  <span class="order"><%= link_to 'Edit', edit_user_path(user) %></span> |
  <span class="order"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
</li>