<li id="order-<%= order.id %>">
  <span class="content">
    <strong>Order ID: </strong><%= order.id %>
  </span>
  <span class="content">
    <strong>Customer First Name: </strong><%= order.first_name %>
  </span>
  <span class="content">
    <strong>Customer Last Name: </strong><%= order.last_name %>
  </span>
  <span class="content">
    <strong>Customer Phone Number: </strong><%= order.phone_number %>
  </span>
  <% if order.is_dilivery? %>
   <span class="content">
     <p class="label label-success"><strong>This Order Was Completed</strong></p>
   </span>
  <% end %>

  <span class="timestamp">
    Created <%= time_ago_in_words(order.created_at) %> ago.
  </span>
  <span class="order"><%= link_to 'Show Order', order %></span> |

  <% if current_user.admin? %>
    <span class="order"><%= link_to 'Edit Order', edit_order_path(order) %></span> |
    <span class="order"><%= link_to 'Destroy Order', order, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
</li>