<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.orderDate %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @order.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @order.lastName %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @order.phoneNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Addressline1:</strong>
  <%= @order.addressLine1 %>
</p>

<p>
  <strong>Addressline2:</strong>
  <%= @order.addressLine2 %>
</p>

<p>
  <strong>Province:</strong>
  <%= @order.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @order.postalCode %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @order.subtotal %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
