<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Conestoga Pizzeria", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "HOME", '#' %></li>
        <li><%= link_to "MENU", '#' %></li>
        <li><%= link_to "ORDER", '#' %></li>
        <li><%= link_to "CONTACT", '#' %></li>
      </ul> 
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
        <li><%= link_to "Sign Out", '#' %></li>
      </ul>
    </nav>
  </div>
</header>